/*
===============================================================================
GENERAL STYLING
===============================================================================
*/

:root {
  /*FONT*/
  font-family: "JetBrains Mono", monospace, Helvetica;

  /*COLORS*/
  --background: #000000;
  --onBackground: #FFFFFF;

  --primary: #FFFFFF;
  --onPrimary: #000000;

  --secondary: #A4A4A4;
  --onSecondary: #000000;

  --accent: #B45AF8;
  --onAccent: #000000;

  --concealer: rgba(0, 0, 0, 0.9);

  /** langauge colors*/
  --straightBlue: rgb(56, 42, 165);
  --fruityBlue: rgb(89, 195, 219);
  --concernedOrange: rgb(219, 126, 89);
  --pissYellow: rgb(219, 208, 89);

  /** exact specifications*/
  /*dark blue*/
  --C: var(--straightBlue);
  --CSS: var(--straightBlue);
  --vite: var(--straightBlue);
  /*light blue*/
  --React: var(--fruityBlue);
  /*orange*/
  --Makefiles: var(--concernedOrange);
  --HTML: var(--concernedOrange);
  --Jupyter_notebooks: var(--concernedOrange);
  /*yellow*/
  --Python: var(--pissYellow);
  --JS: var(--pissYellow);
  /*purpl*/
  --SQL: var(--accent);
  --PHP: var(--accent);
  

  color-scheme: light dark;

  /*BACKGROUND*/
  color: var(--onBackground);
  background-color: var(--background);

  /*PADDING AND GAP SIZES*/
  --tiny: 0.5rem;
  --small: 1rem;
  --medium: 2rem;
  --big: 4rem;
  --giant: 8rem;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  image-rendering: pixelated;
}

.light{
  /*COLORS*/
  --background: #ffffff;
  --onBackground: #000000;

  --primary: #000000;
  --onPrimary: #ffffff;

  --secondary: #555555;
  --onSecondary: #ffffff;

  --accent: #B45AF8;
  --onAccent: #000000;

  --concealer: rgba(255, 255, 255, 0.9);  

  color: var(--onBackground);
  background-color: var(--background);
}

*{
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

a {
  font-weight: 500;
  color: var(--accent);
  font-size: 1.2rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/*
===============================================================================
FONT SIZES
===============================================================================
*/

h1 {
  font-size: 8rem;
  word-break: break-word;
  overflow-wrap: break-word;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}

h5{
  font-size: 1.5rem;
}

p, p b {
  font-size: 1.2rem;
  color: var(--secondary);
}

p{
  font-weight: lighter;
}

/*
===============================================================================
COMMON CLASSES
===============================================================================
*/

.inv{
  color: var(--background);
  background-color: var(--onBackground);
  width: fit-content;
}

.indent{
  margin-left: var(--medium);
}

/*
these classes allow to scaffold a project page quicker
and have common styling for the format.
*/
.contentBox{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: var(--medium);
  gap: var(--giant);
  padding-bottom: var(--giant);
}

.textBox{
  max-width: 80rem;
  width: 100%;
}
/*
===============================================================================
FONT SIZES MOBILE
===============================================================================
*/

@media (max-width: 37rem){
  h1{
    font-size: 4rem;
  }

  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 1.5rem;
  }

  h4{
    font-size: 1.2rem;
  }

  h5{
    font-size: 1rem;
  }

  p, p b{
    font-size: 1rem;
  }

  a{
    font-size: 1rem;
  }
}

