/*
===============================================================================
GENERAL STYLING
===============================================================================
*/

:root {
  /*FONT*/
  font-family: "JetBrains Mono", monospace, Helvetica;

  /*COLORS*/
  --background: #000000;
  --onBackground: #FFFFFF;

  --primary: #FFFFFF;
  --onPrimary: #000000;

  --secondary: #A4A4A4;
  --onSecondary: #000000;

  --accent: #B45AF8;
  --onAccent: #000000;


  color-scheme: light dark;

  /*BACKGROUND*/
  color: var(--onBackground);
  background-color: var(--background);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

a {
  font-weight: 500;
  color: var(--accent);
  font-size: 1.2rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/*
===============================================================================
FONT SIZES
===============================================================================
*/

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5{
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

@media (max-width: 37rem){
  h1{
    font-size: 4rem;
  }

  h2{
    font-size: 3rem;
  }

  h3{
    font-size: 2rem;
  }

  h4{
    font-size: 1.5rem;
  }

  h5{
    font-size: 1.2rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
