/* 
===============================================================================
MAIN USER FLOW CONTENT
===============================================================================
*/

.content{
    display: grid;
    gap: var(--medium);
}

.buttonRow{
    display: flex;
    flex-direction: row;
    gap: var(--medium);
}

@media (max-width: 37rem){
    .buttonRow{
        flex-direction: column;
        gap: var(--small);
    }
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.o3 h4, .o4 h4, .o5 h4{
    font-weight: 100;
}

@media (max-width: 62.5rem){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
    .o1{
        order: 2
    }

    .o2{
        order: 4;
    }

    .o3{
        order: 1;
    }

    .o4{
        order: 3;
    }

    .o5{
        order: 5;
    }
}

@media (max-width: 37rem){
    .grid{
        grid-template-columns: 1fr;
    }
}

/* 
===============================================================================
POP UP
===============================================================================
*/
/*
.popUpBack{
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--concealer);
}

.popUpWindow{
    position: relative;
    background-color: var(--onBackground);
    color: var(--background);
    padding: var(--medium);
    max-width: 30rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    min-height: 10rem;
}

@media (max-width: 37rem){
    .popUpBack{
        z-index: 50;
    }

    .popUpWindow{
        position: fixed;
        left:0;
        right:0;
        max-width: none;
        padding-top: 2rem;
        z-index: 1;
    }
}

.closePopUp{
    position: absolute;
    cursor: pointer;
    top:var(--medium);
    right:var(--medium);
    max-width: 2rem;
}

.closed{
    display: none;
}*/

/* 
===============================================================================
POP UP CONTENT
===============================================================================
*/
.popUpTitle{
    margin-right: var(--medium);
    margin-bottom: var(--small);
    font-weight: 200;
}

.popUpDesc{
    word-break: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 37rem){
    .popUpTitle{
        margin-right: 0;
    }
}

.popUpLinks{
    margin-top: var(--big);
}
