.education{
    word-break: break-word;
    overflow-wrap: break-word;
}

.suptitle{
    color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.suptitle h3{
    font-weight: 400;
}

@media (max-width: 37rem){
    .suptitle{
        flex-direction: column;
    }
}

/*UNI*/

.uniPic{
    width: 100%;
    max-width: 100%;
    max-height: 30rem;
    object-fit: cover;
    margin: var(--medium) 0;
}

.uniGrades{
    margin-top: var(--medium);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.uniDesc{
    margin-top: var(--medium);
}

@media (max-width: 64rem){
    .uniGrades{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 37rem){
    .uniGradesTitle{
        order: -1;
    }

    .uniGrades{
        grid-template-columns: 1fr;
    }
}

/*SESC*/

.sescGrid{
    margin-top: var(--medium);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--medium);
}

.schoolPic{
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}
.schoolGpa{
    margin-top: var(--big);
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 37rem){
    .sescGrid{
        grid-template-columns: 1fr;
    }
}