.suptitle{
    color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}

.uniPic{
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    margin: var(--medium) 0;
}