.title{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.title h1{
    overflow-wrap: break-word;
    word-break: break-word;   
}

.star{
    max-width: 6rem;
}

.suptitle{
    color: var(--secondary);
    font-weight: lighter;
}

.bottom{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.me{
    background-color: var(--onBackground);
    object-fit: cover;
    max-width: 30rem;
    aspect-ratio: 1;
    min-width: none;
}

.myName{
    align-self: flex-end;
    gap: 2rem;
    max-width: 30rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.myName img{
    max-width: 4rem;
}



.starName{
    animation: pulse 3s linear infinite;
    animation-direction: alternate;
}

@keyframes pulse{
    from {
        scale: 1;
    }
    to{
        scale: 1.5;
    }
}

@media (max-width: 62.5rem){
    .star{
        display: none;
    }

    .bottom {
        flex-direction: column;
        align-items: center;
    }

    .myName{
        margin-top: 1rem;
        align-self: flex-start;
        flex-direction: row-reverse;
        align-items: center;
        justify-items: space-between;
    }

    .me{
        display: none;
    }
}