.Newsletter{
    max-width: 90rem;
    margin: 0 auto;
    padding: 5rem 2rem;
    gap: var(--giant);
    display: grid;
	
}

@media (max-width: 37rem){
	.Newsletter{
		padding: 5rem 0;
	}
}

/*
===============================================================================
HEADER
===============================================================================
*/
.headerContainer{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.headerContainer img{
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	order: -1;
}

.header{
	position: relative;
	z-index: 1;
	padding: var(--big);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--small);
	background-color: var(--concealer);
	order: 4;
}

.form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: var(--small);
}

@media (max-width: 37rem){
	.form{
		flex-direction: column;
	}
}

.from input{
	height: 100%;
}

/*
===============================================================================
ARCHIVE
===============================================================================
*/

.archive{
	display: flex;
	flex-direction: column;
	overflow: hidden;
    gap: var(--medium);
	width: 100%;
	min-width:0;
}
.archiveTitle{
	padding: 0 var(--big);;
}

.folders{
	margin-top: var(--big);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.emailContent{
	display: flex;
	flex-direction: column;
	gap: var(--small);
	padding: var(--medium);
}

.emaiContentBody{
	display: flex;
	flex-direction: column;
	gap: var(--small);
}