.building{
    background-image: url('../assets/glitch.gif');
    background-repeat: repeat;
    min-height: 100vh;
}

.overlay{
    height: 100vh;
    padding: 2rem;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay h1{
    word-break: break-word;
}

.overlay h3{
    color: var(--secondary);
    margin-bottom: 3rem;
}
