.building{
    background-image: url('../assets/glitch.gif');
    background-repeat: repeat;
    min-height: 100vh;
}

.overlay{
    height: 100vh;
    padding: var(--medium);
    padding-top: var(--big);
    background-color: var(--concealer);
}

.overlay h1{
    word-break: break-word;
}

.overlay h3{
    color: var(--secondary);
    margin-bottom: var(--big);
}
