/*
===============================================================================
HEADER
===============================================================================
*/

.loc{
    margin-top: var(--medium);
}

/*
===============================================================================
CONTENT
===============================================================================
*/
.pageContent{
    display: flex;
    flex-direction: column;
    padding: var(--medium);
    gap: var(--giant);
    padding-bottom: var(--giant);
}

/*
===============================================================================
ASSIGNMENT
===============================================================================
*/
.assignmentsList{
    display: flex;
    flex-direction: column;
    gap: var(--medium);
    align-items: center;
}

.assignment{
    display: flex;
    flex-direction: column;
    gap: var(--small);
    max-width: 40rem;
}

.intermission{
    color: var(--secondary);
    max-width: 40rem;
}