/*
===============================================================================
ASSIGNMENT
===============================================================================
*/

.assignment{
    display: flex;
    flex-direction: column;
    gap: var(--small);
    max-width: 40rem;
}

.intermission{
    color: var(--secondary);
    max-width: 40rem;
}