/*
===============================================================================
HEADER
===============================================================================
*/
.header{
    position: relative;
    margin-top: var(--medium);
    margin-bottom: var(--giant);
}

.headerImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 20rem;
    opacity: 0.5;
}

.header h2{
    position: absolute;
    top: var(--medium);
    left: var(--medium);
    max-width: 30rem;
}

/*
===============================================================================
SNAPSHOT
===============================================================================
*/

.projectSnapshot{
    margin: var(--small) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.snapTags{
    display: flex;
    flex-direction: row;
    gap: var(--tiny);
}

/*
===============================================================================
CONTENT
===============================================================================
*/
.pageContent{
    display: flex;
    flex-direction: column;
    padding: var(--medium);
    gap: var(--giant);
    padding-bottom: var(--giant);
}

/*
===============================================================================
ASSIGNMENT
===============================================================================
*/
.assignmentsList{
    display: flex;
    flex-direction: column;
    gap: var(--medium);
}

.assignment{
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    gap: var(--small);
}

.intermission{
    color: var(--secondary);
}