.footer{
    padding: var(--medium);
}

.content{
    margin: var(--small) 0;
}

.cont{
    margin-bottom: var(--big);
    position: relative;
}

.link{
    text-decoration: underline;
}

.link:hover{
    color: var(--secondary);
    cursor: pointer;
}

