.Navbar{
    /*spacing*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    border-bottom: 2px solid var(--onBackground);
    background-color: var(--background);
    padding: var(--tiny);
}

.Links{
    display: flex;
    flex-direction: row;
    gap: var(--small);
}