.Navbar{
    /*spacing*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    border-bottom: 2px solid var(--onBackground);
    background-color: var(--background);
    padding: var(--tiny);
    z-index: 10;
}

.Links{
    display: flex;
    flex-direction: row;
    gap: var(--small);
}

.hamburger, .cross{
    max-width: 1.5rem;
    display: none;
}

.header{
    display: flex;
    flex-direction: row;
    gap: var(--small);
}

/*
===============================================================================
THEME SWITCH
===============================================================================
*/
.themeSwitch{
    position: relative;
    margin: -0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 2.7rem;
    width: 2.7rem;
}

.sun,.moon{
    width: 2.7rem;
    height: 2.7rem;
    padding: var(--tiny);
    box-sizing: border-box;
    transition: all 1s ease;
    flex-shrink: 0;
}

.sun{
    background-color: rgb(255, 255, 255);
    transform: translateY(-2.6rem);
}

.moon{
    background-color: rgb(0,0,0);
    transform: translateY(-2.6rem);
}

.sun.light{
    transform: translateY(2.6rem);
}

.moon.light{
    transform: translateY(0);
}

/*
===============================================================================
MOBILE LAYOUT
===============================================================================
*/
@media (max-width: 64rem){
    .themeSwitch, .moon, .sun{
        width: 2.6rem;
        height: 2.6rem;
    }



    /* button for opening and closing the navbar*/
    .hamburger.closed{
        display: inline;
    }

    .cross.open{
        display: inline;
    }

    /* the new links section on mobile*/
    .Links{
        /*position on display*/
        display: fixed;
        position: fixed;
        height: 100%;
        left:0;
        right:0;
        z-index: -1;
        /*content and style*/
        background-color: var(--background);
        flex-direction: column;
        padding: var(--medium);
        padding-top: var(--giant);
        gap: var(--medium);
        /*transition all for animations*/
        transition: all 1s ease;
        
    }

    .Links.open{
        /*position*/
        top: 0;
        bottom: 0;
        
    }

    .Links.closed{
        /*position*/
        top: -120vh;
        bottom: 120vh
    }
}