.Navbar{
    /*spacing*/
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    border-bottom: 2px solid var(--onBackground);
    background-color: var(--background);
    padding: 0.5rem;
}

.Links{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}