.ButtonContainer{
    cursor: pointer;
    overflow: hidden;
    min-width: max-content;
}

.Button{
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "JetBrains Mono", monospace, Helvetica;
    transition: all 0.5s linear;
    border-width: 0;
    width: 100%;
}

.Button:hover{
    transform: translateX(0.5rem) translateY(0.5rem); 
}

.Button:active{
    transform: translateX(1rem) translateY(1rem); 
}

