/* 
===============================================================================
MAIN STYLING ELEMENTS
===============================================================================
*/

.gallery{
    /*general styling*/
    border: 2px solid var(--onBackground);
    overflow-x: auto;
    overflow-y: visible;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    background-color: var(--onBackground);
    color: var(--background);

    /*scrollbar */
    scrollbar-color:  var(--background) var(--onBackground);
    scrollbar-width: var(--small);
}

.img{
    padding: var(--tiny);
    max-height: 17rem;
    max-width: 30rem;
    object-fit: cover;
    cursor: pointer;
}

/* 
===============================================================================
POP UP CONTENTS
===============================================================================
*/
.popUpPic{
    margin-top: 3rem;
    padding: 0;
    max-width: min(100%,40rem);
}

.popUpContent{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: var(--small);
}

.popUpDesc{
    margin: 0;  /* Remove default p margins */
    word-wrap: break-word;
    color: var(--background);
}