.cell{
    padding: 1rem;
    background-color: var(--background);
    color: var(--onBackground);
    border: 3px solid var(--onBackground);
}

.filledCell{
    padding: 1rem;
    background-color: var(--onBackground);
    color: var(--background);
    border: 3px solid var(--onBackground);
}