.grid{
    display: grid;
}

.cell{
    padding: var(--small);
    background-color: var(--background);
    color: var(--onBackground);
    border: 2px solid var(--onBackground);
}

.filledCell{
    padding: var(--small);
    background-color: var(--onBackground);
    color: var(--background);
    border: 2px solid var(--onBackground);
}

.filledCell p, .filledCell p b{
    background-color: var(--onBackground);
    color: var(--background)
}