/*
===============================================================================
HEADER
===============================================================================
*/
.header{
    position: relative;
    margin-top: var(--medium);
    margin-bottom: var(--big);
}

.headerImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 20rem;
    opacity: 0.5;
}

.header h2{
    position: absolute;
    top: var(--medium);
    left: var(--medium);
    max-width: 32rem;
}

@media (max-width: 37rem){
    .headerImg{
        aspect-ratio: 1.5;
        object-fit: cover;
    }
}

/*
===============================================================================
SNAPSHOT
===============================================================================
*/

.projectSnapshot{
    margin: var(--small) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--tiny);
}

.snapTags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--tiny);
}

/*
===============================================================================
THE DESCRIPTION
===============================================================================
*/
.desc{
    margin-bottom: var(--big);
}

.loc{
    margin-top: var(--medium);
}

.descBottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: var(--tiny);
}

.grade{
    background-color: var(--accent);
}