/*
===============================================================================
HEADER
===============================================================================
*/
.header{
    position: relative;
    margin-top: var(--medium);
    margin-bottom: var(--giant);
}

.headerImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 20rem;
    opacity: 0.5;
}

.header h2{
    position: absolute;
    top: var(--medium);
    left: var(--medium);
    max-width: 30rem;
}

/*
===============================================================================
SNAPSHOT
===============================================================================
*/

.projectSnapshot{
    margin: var(--small) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.snapTags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--tiny);
}